In [4]:

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
#-----------------------------------------------------------------
from sklearn.datasets import fetch_openml
import pandas as pd

# https://www.openml.org/search?type=data&status=active&id=1120
#-------------------------------------------------------------------------
# Laden der Daten
data = fetch_openml(name='MagicTelescope', version=2) #version='active')

dfData = data.data
dfData['class'] = data.target
# Ersten Zeilen ausgeben
dfData.head()

,fLength:,fWidth:,fSize:,fConc:,fConc1:,fAsym:,fM3Long:,fM3Trans:,fAlpha:,fDist:,class
0,69.2979,26.8809,3.1930,0.2065,0.1074,39.6296,44.3457,-23.0604,9.3234,248.750,g
1,24.5939,10.1418,2.5676,0.5007,0.2693,-8.4503,15.2452,-7.0283,17.0056,173.288,g
2,55.4800,27.1606,3.1826,0.2299,0.1225,43.1016,54.2556,13.7406,32.2220,262.181,g
3,12.6594,11.7413,2.1351,0.7033,0.3846,-15.8596,9.4522,-8.7126,43.5434,227.711,g
4,38.6204,20.5632,2.9770,0.2478,0.1270,-13.8229,-31.3983,-13.1337,5.8671,192.467,g

In [7]:

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
#-----------------------------------------------------------------
from sklearn.datasets import fetch_openml
import pandas as pd

# https://www.openml.org/search?type=data&status=active&id=183
#-------------------------------------------------------------------------
# Laden der Daten
data = fetch_openml(name='abalone', version=1) #version='active')

dfData = data.data
dfData['Class_number_of_rings'] = data.target
# Ersten Zeilen ausgeben
dfData.head()

,Sex,Length,Diameter,Height,Whole_weight,Shucked_weight,Viscera_weight,Shell_weight,Class_number_of_rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [15]:

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
#-----------------------------------------------------------------
from sklearn.datasets import fetch_openml
import pandas as pd

# https://www.openml.org/search?type=data&status=active&id=43531
#-------------------------------------------------------------------------
# Laden der Daten
data = fetch_openml(name='Gender-Classification-Dataset', version='active')

dfData = data.data
#dfData['Class'] = data.target
# Ersten Zeilen ausgeben
dfData.head(10)

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender,Class
0,1,11.8,6.1,1,0,1,1,Male,None
1,0,14.0,5.4,0,0,1,0,Female,None
2,0,11.8,6.3,1,1,1,1,Male,None
3,0,14.4,6.1,0,1,1,1,Male,None
4,1,13.5,5.9,0,0,0,0,Female,None
5,1,13.0,6.8,1,1,1,1,Male,None
6,1,15.3,6.2,1,1,1,0,Male,None
7,0,13.0,5.2,0,0,0,0,Female,None
8,1,11.9,5.4,1,0,1,1,Female,None
9,1,12.1,5.4,0,0,0,0,Female,None

In [21]:

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
#-----------------------------------------------------------------
from sklearn.datasets import fetch_openml
import pandas as pd

# https://www.openml.org/search?type=data&status=active&id=43531
#-------------------------------------------------------------------------
# Laden der Daten
data = fetch_openml(name='fars', version=1) #version='active')

dfData = data.data
dfData['Class'] = data.target

print(dfData.shape)
# Ersten Zeilen ausgeben
dfData.head(10)

(100968, 30)

,CASE_STATE,AGE,SEX,PERSON_TYPE,SEATING_POSITION,RESTRAINT_SYSTEM-USE,AIR_BAG_AVAILABILITY/DEPLOYMENT,EJECTION,EJECTION_PATH,EXTRICATION,...,DRUG_TEST_RESULTS_(2_of_3),DRUG_TEST_TYPE_(3_of_3),DRUG_TEST_RESULTS_(3_of_3),HISPANIC_ORIGIN,TAKEN_TO_HOSPITAL,RELATED_FACTOR_(1)-PERSON_LEVEL,RELATED_FACTOR_(2)-PERSON_LEVEL,RELATED_FACTOR_(3)-PERSON_LEVEL,RACE,Class
0,0,34,1,1,3,7,2,2,9,1,...,0,2,0,5,0,27,29,19,17,1
1,0,20,1,1,3,7,9,2,9,1,...,0,2,0,5,0,27,29,19,17,1
2,0,43,1,1,3,5,4,0,0,0,...,0,2,0,5,0,27,29,19,4,1
3,0,38,0,6,6,5,4,0,0,0,...,0,2,0,6,2,27,29,19,11,2
4,0,50,1,1,3,5,9,0,0,1,...,0,2,0,5,2,27,29,19,4,1
5,0,40,0,1,3,5,4,0,0,1,...,0,2,0,6,2,27,29,19,11,2
6,0,50,1,1,3,7,4,0,0,1,...,0,2,0,6,0,27,29,19,11,4
7,0,69,0,6,6,7,4,2,9,1,...,0,2,0,5,0,27,29,19,4,1
8,0,94,1,7,8,7,11,0,0,1,...,0,2,0,5,0,43,29,19,17,1
9,0,47,1,1,3,5,4,0,0,1,...,0,2,0,6,0,27,29,19,11,4

In [23]:

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
#-----------------------------------------------------------------
from sklearn.datasets import fetch_openml
import pandas as pd

# https://www.openml.org/search?type=data&status=active&id=43433
#-------------------------------------------------------------------------
# Laden der Daten
data = fetch_openml(name='Crystal-System-Properties-for-Li-ion-batteries', version='active')

dfData = data.data
dfData['Class'] = data.target

print(dfData.shape)
# Ersten Zeilen ausgeben
dfData.head(100)

(339, 12)

,Materials_Id,Formula,Spacegroup,Formation_Energy_(eV),E_Above_Hull_(eV),Band_Gap_(eV),Nsites,Density_(gm/cc),Volume,Has_Bandstructure,Crystal_System,Class
0,mp-849394,Li2MnSiO4,Pc,-2.699,0.006,3.462,16,2.993,178.513,True,monoclinic,None
1,mp-783909,Li2MnSiO4,P21/c,-2.696,0.008,2.879,32,2.926,365.272,True,monoclinic,None
2,mp-761311,Li4MnSi2O7,Cc,-2.775,0.012,3.653,28,2.761,301.775,True,monoclinic,None
3,mp-761598,Li4Mn2Si3O10,C2/c,-2.783,0.013,3.015,38,2.908,436.183,True,monoclinic,None
4,mp-767709,Li2Mn3Si3O10,C2/c,-2.747,0.016,2.578,36,3.334,421.286,True,monoclinic,None
...,...,...,...,...,...,...,...,...,...,...,...,...
95,mp-762714,Li2FeSi4O11,C2/c,-2.785,0.098,0.030,36,2.788,426.538,False,monoclinic,None
96,mp-761452,Li2Fe(Si2O5)3,Cc,-2.876,0.109,0.264,48,2.309,687.797,True,monoclinic,None
97,mp-780871,LiFe2(SiO4)2,P2,-2.423,0.117,2.528,78,2.474,1219.453,False,monoclinic,None
98,mp-763301,Li2CoSiO4,Pc,-2.537,0.000,2.957,16,3.216,170.265,True,monoclinic,None
99,mp-764958,Li2CoSiO4,P21,-2.523,0.014,2.934,16,3.201,171.080,True,monoclinic,None